.carrito-icono{
    width: 3%;
    margin: 1%;
}

.texto{
    color: white;
}

.container-fluid-cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}