.carrito-icono{
    width: 40%;
    margin: 2%;
}

.texto{
    color: white;
}

.container-fluid-cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}