.titulo-checkout{
    color: white !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    margin-left: 45%;
    margin-top: 10%;
}

.boton-checkout{
    background-color: rgb(51, 51, 250);
    color: white;
    margin-left: 45%;
    margin-bottom: 100%;
}

.titulo-checkout-dos{
    color: white !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-top: 0%;
    margin-left: 1%;
}

.formulario{
    margin-left: 43%;
    margin-bottom: 2%;
}

.textoid{
    color: white !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    margin-left: 4%;
    margin-top: 0%;
    margin-bottom: 1%;
}