.container-fluid{
    background-color: rgb(54, 54, 54);
}

.link{
    text-decoration: none!important;
    color: white !important;

}

.link:hover {
    color: rgb(100, 210, 224)!important;
}


.navbar-brand{
    margin-left: 0%;
    margin-right: 35%!important;
}
